.personalized {
    background: #eef4f3;
    padding: 2rem;
    margin-top: 10vw;
}

.personalized .container {
    width: 100%;
    margin: auto;
}

.personalized .container .heading {
    text-align: center;
    margin-bottom: 5vw;
}

.personalized .container .heading h2 {
    font-size: 1.5rem;
    color: #0f3d3e;
}

.personalized .container .heading p {
    font-size: 1.5rem;
    color: #1f8c8c;
    margin-top: .5rem;
}

.personalized .container .symptoms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}

.personalized .container .symptoms .wrapper {
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 9;
    display: none;
}

.personalized .container .symptoms .image {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.personalized .container .symptoms .image img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    transform: scale(1);
    object-position: 40% 40%;
    mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.7) 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.7) 75%, transparent 100%);
}

.personalized .container .symptoms .image .fade {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top, #eef4f3, transparent);
}

.personalized .container .symptoms .desktop {
    display: none;
}

.personalized .container .symptoms .mob-symptom {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    gap: 1.2rem;
}

.personalized .container .symptoms .mob-symptom .col .symptom {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.personalized .container .symptoms .mob-symptom .col .symptom .icon {
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.personalized .container .symptoms .mob-symptom .col .symptom .text h3 {
    font-size: .9rem;
    color: #0f3d3e;
}

.personalized .container .symptoms .mob-symptom .col .symptom .text p {
    font-size: .9rem;
    font-weight: 300;
    color: #555;
    margin-top: .5rem;
}

.personalized .container .symptoms .mob-symptom .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.personalized .container .symptoms .mob-symptom .left .symptom {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.personalized .container .symptoms .mob-symptom .left .symptom .text {
    text-align: end;
}

.personalized .container .symptoms .mob-symptom .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.personalized .container .symptoms .mob-symptom .right .symptom {
    flex-direction: column;
    align-items: start;
}

.personalized .container .personalized__cta {
    text-align: center;
    margin: 3vw 0;
}

.personalized .container .divider {
    width: 100%;
    height: 1px;
    background: white;
    margin: 4vw 0;
}

.personalized .container .journey {
    margin-top: 3rem;
}

.personalized .container .journey .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4vw;
    gap: 2rem;
}

.personalized .container .journey .top h2 {
    font-size: 2.5rem;
}

.personalized .container .journey .top h2 span {
    color: #19869a;
}

.personalized .container .journey .cards {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 2rem;
}

.personalized .container .journey .cards .consult {
    background-color: #19869A;
    color: white;
    border-radius: 2rem;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    padding: 1.2rem;
}

.personalized .container .journey .cards .consult .logo {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalized .container .journey .cards .consult .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: -50%;
    opacity: 0.6;
    transform: scale(1.45);
    display: none;
}

.personalized .container .journey .cards .consult .text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.personalized .container .journey .cards .consult .text p {
    opacity: 0.8;
    line-height: 1.3rem;
}

.personalized .container .journey .cards .treatment {
    position: relative;
    border-radius: 2rem;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: red;
}

.personalized .container .journey .cards .treatment image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personalized .container .journey .cards .treatment .logo {
    width: 4rem;
    height: 4rem;
    background-color: #e8f2f3;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.personalized .container .journey .cards .treatment .text {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
    background-color: white;
    border-radius: 2rem;
    padding: 1.2rem;
}

.personalized .container .journey .cards .aftercard {
    background-color: #ffffff;
    border-radius: 2rem;
    width: 100%;
    height: 40vh;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personalized .container .journey .cards .aftercard .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
}

.personalized .container .journey .cards .aftercard .top .logo {
    width: 4rem;
    height: 4rem;
    background-color: #e8f2f3;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.personalized .container .journey .cards .aftercard .top .image {
    width: 20vh;
    height: 20vh;
    border-radius: 2rem;
    overflow: hidden;
}

.personalized .container .journey .cards .aftercard .bottom h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.personalized .container .journey .cards .aftercard .bottom p {
    font-size: .95rem;
}

.personalized .container .btn-outline {
    padding: .7rem 1.5rem;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}


@media (min-width: 1024px) {
    .personalized {
        background: #eef4f3;
        padding: 6vw 0;
    }

    .personalized .container {
        width: 80vw;
        margin: auto;
    }

    .personalized .container .heading {
        text-align: center;
        margin-bottom: 5vw;
    }

    .personalized .container .heading h2 {
        font-size: 2.8rem;
        color: #0f3d3e;
    }

    .personalized .container .heading p {
        font-size: 2rem;
        color: #1f8c8c;
        margin-top: .5rem;
    }

    .personalized .container .symptoms {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vw;
        position: relative;
    }

    .personalized .container .symptoms .wrapper {
        width: 100%;
        height: 40vh;
        position: relative;
        z-index: 9;
        display: block;
    }

    .personalized .container .symptoms .wrapper .col {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    .personalized .container .symptoms .wrapper .left {
        position: relative;
        height: 100%;
        left: 5rem;
        text-align: end;
    }

    .personalized .container .symptoms .wrapper .left .symptom {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        position: absolute;
    }

    .personalized .container .symptoms .wrapper .left .symptom .icon {
        width: 70px;
        height: 70px;
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }

    .personalized .container .symptoms .wrapper .left .symptom .text h3 {
        font-size: 1.2rem;
        color: #0f3d3e;
    }

    .personalized .container .symptoms .wrapper .left .symptom .text p {
        font-size: .9rem;
        color: #555;
        margin-top: .5rem;
    }

    .personalized .container .symptoms .wrapper .left .child-1 {
        top: -1rem;
    }

    .personalized .container .symptoms .wrapper .left .child-2 {
        top: 10rem;
        left: -5rem;
    }

    .personalized .container .symptoms .wrapper .left .child-3 {
        top: 20rem;
        left: 0rem;
    }

    .personalized .container .symptoms .wrapper .right {
        position: relative;
        right: 2rem;
    }

    .personalized .container .symptoms .wrapper .right .symptom {
        display: flex;
        align-items: center;
        position: absolute;
        gap: 1.5rem;
    }

    .personalized .container .symptoms .wrapper .right .symptom .icon {
        width: 70px;
        height: 70px;
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }

    .personalized .container .symptoms .wrapper .right .symptom .text h3 {
        font-size: 1.2rem;
        color: #0f3d3e;
    }

    .personalized .container .symptoms .wrapper .right .symptom .text p {
        font-size: .9rem;
        color: #555;
        margin-top: .5rem;
    }

    .personalized .container .symptoms .wrapper .right .child-1 {
        top: -2rem;
    }

    .personalized .container .symptoms .wrapper .right .child-2 {
        top: 9rem;
        left: 4rem;
    }

    .personalized .container .symptoms .wrapper .right .child-3 {
        top: 20rem;
    }

    .personalized .container .symptoms .image {
        width: 100vw;
        height: 50vh;
        position: relative;
        overflow: hidden;
    }

    .personalized .container .symptoms .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
        object-position: 35% 100%;
        position: absolute;
        top: 2rem;
        mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.7) 75%, transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom, black 55%, rgba(0, 0, 0, 0.7) 75%, transparent 100%);
    }

    .personalized .container .symptoms .image .fade {
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 120px;
        background: linear-gradient(to top, #eef4f3, transparent);
    }

    .personalized .container .symptoms .mobile {
        display: none;
    }

    .personalized .container .symptoms .desktop {
        display: block;
    }

    .personalized .container .symptoms .mob-symptom {
        display: none;
    }

    .personalized .container .personalized__cta {
        text-align: center;
        margin: 3vw 0;
    }

    .personalized .container .divider {
        width: 100%;
        height: 1px;
        background: white;
        margin: 4vw 0;
    }

    .personalized .container .journey .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 4vw;
    }

    .personalized .container .journey .top h2 {
        font-size: 2.5rem;
    }

    .personalized .container .journey .top h2 span {
        color: #19869a;
    }

    .personalized .container .journey .cards {
        display: flex;
        gap: 2rem;
    }

    .personalized .container .journey .cards .consult {
        background-color: #19869A;
        color: white;
        border-radius: 2rem;
        height: 40vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        padding: 1.2rem;
    }

    .personalized .container .journey .cards .consult .logo {
        width: 4rem;
        height: 4rem;
        background-color: white;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .personalized .container .journey .cards .consult .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: -50%;
        opacity: 0.2;
        transform: scale(1.45);
        display: block;
    }

    .personalized .container .journey .cards .consult .text h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .personalized .container .journey .cards .consult .text p {
        opacity: 0.8;
        line-height: 1.3rem;
    }

    .personalized .container .journey .cards .treatment {
        position: relative;
        border-radius: 2rem;
        width: 25vw;
        height: 40vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .personalized .container .journey .cards .treatment image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .personalized .container .journey .cards .treatment .logo {
        width: 4rem;
        height: 4rem;
        background-color: #e8f2f3;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vw;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .personalized .container .journey .cards .treatment .text {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
        right: 1rem;
        background-color: white;
        border-radius: 2rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .personalized .container .journey .cards .aftercard {
        background-color: #f6f6f6;
        border-radius: 2rem;
        width: 25vw;
        height: 40vh;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .personalized .container .journey .cards .aftercard .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .personalized .container .journey .cards .aftercard .top .logo {
        width: 4rem;
        height: 4rem;
        background-color: #e8f2f3;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vw;
    }

    .personalized .container .journey .cards .aftercard .top .image {
        width: 10vw;
        height: 10vw;
        border-radius: 2rem;
        overflow: hidden;
    }

    .personalized .container .btn-outline {
        padding: .7rem 1.5rem;
        border-radius: 30px;
        border: 1px solid #ccc;
        background: white;
        cursor: pointer;
    }

}