@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Inter Tight", sans-serif;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    padding: 0.5rem 0.5rem;
    border-radius: 5rem;

    .text {
        padding-left: 0.5rem;
    }

    .icon {
        background-color: #19869A;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 50%;
        color: white;
    }


}

/* =======================================================
       NAVBAR
    ======================================================= */

.navbar {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 40;
    display: none;


    .container {
        width: 80vw;
        height: 4rem;
        background: white;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    .left {
        display: flex;
        align-items: center;
        gap: 40px;


        .logo {
            width: 7rem;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        .links {
            display: flex;
            gap: 20px;
            font-weight: 300;
            display: none;

            a {
                text-decoration: none;
                color: #000;
                font-size: 1rem;
            }


        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 20px;
        display: none;


        .signin {
            background-color: white;
            border: none;
            cursor: pointer;
            font-size: 14px;
        }

        .divider {
            width: 1px;
            height: 20px;
            background: black;
        }

        .cart {
            width: 2.5rem;
            height: 2.5rem;
            background: #EFF7F8;
            padding: 0.5rem 0.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;


        }

        .btn {
            background-color: #19869A;
            padding: 0.4rem 0.5rem;
            border: none;
            color: white;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 0.9rem;

            .text {
                padding-left: 0.8rem;
            }

            .icon {
                background-color: white;
                color: black;
                min-width: 2rem;
                min-height: 2rem;
                border-radius: 50%;
                padding: 0.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .menu {
        width: 2.2rem;
        height: 2.2rem;
        background: #EFF7F8;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}



/* =======================================================
        MENOPAUSE
    ======================================================= */

.menopause {
    width: 100%;
    background-color: #EFF7F8;
    // display: none;

    .line {
        display: none;
    }

    .container {
        padding: 8rem 0 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .top {
            padding: 0 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .left {
                h1 {
                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: 500;
                }

                span {
                    color: #19869A;
                    font-style: italic;
                    font-family: "Playfun Display", serif;
                }
            }

            .right {
                p {
                    font-size: 1rem;
                    font-weight: 300;
                    text-align: justify;
                    line-height: 1.5rem;
                }
            }
        }

        .bottom {
            padding: 0 1rem;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            gap: 1rem;

            .bottom-left {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.5rem;
                    text-align: justify;
                }
            }

            .bottom-right {
                width: 100%;
                height: 20rem;

                img {
                    transform: scaleX(-1);
                    border-radius: 1rem;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

/* =======================================================
        WHY - MENOPAUSE
    ======================================================= */


.why-menopause {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    margin-top: 3rem;
    // display: none;

    .container {
        width: 100%;

        .heading {
            text-align: center;
            margin-bottom: 4rem;

            h1 {
                font-size: 2rem;
                font-weight: 500;
                color: #0f3d3e;

                span {
                    font-family: "Playfair Display", serif;
                    font-style: italic;
                    color: #2d7f86;
                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;

            .card-1 {
                width: 100%;
                height: 40rem;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }

                .stat-card {
                    background: #ffffff;
                    padding: 2rem;
                    border-radius: 1.5rem;
                    left: 1.5rem;
                    right: 1.5rem;
                    z-index: 2;
                    position: absolute;
                    bottom: 1.2rem;

                    h3 {
                        font-size: 2rem;
                        font-family: "Playfair Display", serif;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 1.6;
                        color: #555;
                    }
                }
            }

            .card-2,
            .card-3 {
                width: 100%;
                padding: 2.5rem;
                border-radius: 1.5rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 2rem;
                    font-family: "Playfair Display", serif;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.6;
                }
            }

            .card-2 {
                background: #1f7a86;
                color: white;
            }

            .card-3 {
                background: #ffffff;
                border: 1px solid #ddd;
                color: #333;
            }

        }

        /* LEFT IMAGE SECTION */

        .divider {
            margin-top: 4rem;
            height: 1px;
            background: #e5e5e5;
        }
    }

}


/* =======================================================
        LONG - TERM
    ======================================================= */


.long-term {
    padding: 0rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: none;


    .container {
        width: 100%;

        .top {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 3rem;

            .heading {
                h1 {
                    font-size: 2rem;
                    font-weight: 500;


                    span {
                        font-family: "Playfair Display", serif;
                        font-style: italic;
                        color: #2d7f86;
                    }
                }
            }

            .btn {
                padding: 0.3rem 0.3rem;

                .text {
                    font-size: 0.8rem;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            /* LEFT SIDE */
            .left {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 1.5rem 1rem;
                    border-radius: 1.2rem;
                    background: white;
                    border: 1px solid #e3e3e3;

                    .icon {

                        svg {
                            width: 4rem;
                            height: 4rem;
                        }
                    }

                    .text {
                        h3 {
                            margin-bottom: 0.3rem;
                            font-size: 1rem;
                            font-weight: 500;
                            color: #0f3d3e;
                        }

                        p {
                            font-size: 0.8rem;
                            font-weight: 300;
                            color: #555;
                            line-height: 1.5;
                        }
                    }
                }
            }

            /* RIGHT IMAGE */
            .right {
                width: 100%;
                height: 20rem;
                border-radius: 1.5rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-position: 100% 0%;
                    object-fit: cover;
                }
            }
        }

    }

}


/* =======================================================
        LEADER-SHIP
    ======================================================= */

.leadership {
    background: #19869A;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    // display: none;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    /* LEFT IMAGE */
    .image {
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: 0% 40%;
            object-fit: cover;
        }
    }

    /* Divider hidden on mobile */
    .divider {
        display: none;
    }

    /* RIGHT CONTENT */
    .content {
        color: white;

        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 2rem;

            span {
                font-weight: 400;
                font-family: "Playfair Display", serif;
                font-style: italic;
            }
        }

        p {
            font-size: 1rem;
            line-height: 1.8;
            margin-bottom: 1.5rem;
            font-weight: 300;
        }

        h4 {
            margin-top: 2rem;
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
}


/* =======================================================
        OUR EXPERTS
    ======================================================= */

.experts {
    padding: 6rem 1rem;
    display: flex;
    justify-content: center;
    background: #EFF7F8;
    // display: none;

    .container {
        width: 100%;

        .heading {
            text-align: center;
            margin-bottom: 3rem;

            h1 {
                font-size: 2.5rem;
                font-weight: 500;

                span {
                    font-family: "Playfair Display", serif;
                    font-style: italic;
                    color: #2d7f86;
                }
            }
        }

        .expert {
            border-top: 1px solid #d8e0e2;
            padding: 1rem 0;
            padding-top: 3rem;

            .expert-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;
            }

            .number {
                background-color: white;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease;
                font-weight: 300;
            }

            .desktop-image,
            .desktop-qualifications {
                display: none;
            }

            .toggle {
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
            }

            .expert-body {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease;
                margin-top: 2rem;

                .expand-image {
                    background: linear-gradient(180deg, rgba(207, 230, 234, 0.35) 0%, rgba(207, 230, 234, 1) 100%);
                    transition: all 0.2s ease;
                    width: 100%;
                    height: 20rem;
                    border-radius: 1rem;

                    // overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;

                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 1rem 0;

                    li {
                        position: relative;
                        padding-left: 1rem;
                        margin-bottom: 0.6rem;
                        font-weight: 500;

                        &::before {
                            content: "";
                            width: 6px;
                            height: 6px;
                            background: #19869A;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 8px;
                        }
                    }
                }

                .content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;

                    p {
                        text-align: justify;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        font-weight: 300;
                    }
                }
            }


            &.active {
                .expert-body {
                    max-height: 1000px;
                }

                .toggle {
                    transform: rotate(180deg);
                }

                .number {
                    background-color: #1f7a86;
                    color: white;
                }
            }
        }
    }


}


/* =======================================================
        Consult
    ======================================================= */

.consult-section {
    // padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: #19869A;
        padding: 5rem 1rem;

        /* LEFT SIDE */
        .left {
            width: 100%;
            position: relative;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;

            .content {

                h1 {
                    font-size: 2.5rem;
                    line-height: 3rem;
                    font-weight: 500;

                    span {
                        font-family: "Playfair Display", serif;
                        font-style: italic;
                        font-weight: 400;
                    }
                }

                p {
                    margin-top: 1rem;
                    font-size: 1rem;
                    line-height: 1.6;
                    font-weight: 300;
                }
            }


            .image {
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;

                img {
                    // width: 100%;
                    height: 20rem;
                    object-fit: contain;
                    transform: scaleX(-1);
                    mask-image: linear-gradient(to top, transparent 0%, black 40%);
                    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%);
                }

                .image-overlay {
                    position: absolute;
                    inset: 0;
                    background: #19869A;
                    background: linear-gradient(180deg, rgba(25, 134, 154, 0) 0%, rgba(25, 134, 154, 0) 75%, rgba(25, 134, 154, 1) 100%);
                }


            }
        }

        /* RIGHT SIDE */
        .right {
            width: 100%;
            background: #ffffff;
            padding: 3rem;
            border-radius: 2rem;

            .form {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                }

                .input-group {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    label {
                        font-size: 0.85rem;
                        margin-bottom: 0.5rem;
                        color: #333;
                    }

                    input,
                    textarea {
                        padding: 0.8rem 1rem;
                        border-radius: 2rem;
                        border: 1px solid #ddd;
                        background: white;
                        font-size: 0.9rem;
                        outline: none;
                    }

                    textarea {
                        border-radius: 1rem;
                        min-height: 120px;
                        resize: none;
                    }
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.8rem;
                }

                .btn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 0.5rem;
                    padding: 0.9rem;
                    border-radius: 2rem;
                    border: none;
                    background: #19869A;
                    color: white;
                    font-weight: 500;
                }
            }
        }


    }


}

@media (min-width: 1024px) {



    /* =======================================================
       NAVBAR
    ======================================================= */

    .navbar {
        top: 2.5rem;

        .container {
            height: 5rem;
            padding: 0 1rem;
            overflow: hidden;

            .left {
                .logo {
                    width: 10rem;
                }

                .links {
                    display: flex;

                }
            }

            .right {
                display: flex;
            }

            .menu {
                display: none;
            }
        }
    }


    /* =======================================================
        MENOPAUSE
    ======================================================= */

    .menopause {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .line {
            display: block;
        }

        .container {
            padding: 10rem 0 9rem 0;
            width: 80vw;
            gap: 3rem;


            .top {
                flex-direction: row;
                justify-content: space-between;
                gap: 2rem;

                .left {
                    width: 40%;
                }

                .right {
                    width: 60%;
                    margin-left: 1rem;

                    p {

                        line-height: 1.6rem;
                    }

                }
            }

            .bottom {
                flex-direction: row;
                justify-content: space-between;
                height: 30rem;
                gap: 2rem;

                .bottom-left {
                    width: 40%;
                    height: 100%;

                    p {
                        text-align: justify;
                        font-size: 16px;
                        line-height: 1.6rem;
                    }

                }

                .bottom-right {
                    width: 60%;
                    height: 100%;
                    margin-left: 1rem;
                }
            }
        }

    }

    /* =======================================================
        WHY - MENOPAUSE
    ======================================================= */

    .why-menopause {
        .container {
            width: 80vw;

            .heading {
                h1 {
                    font-size: 2.5rem;
                }
            }

            .content {
                width: 100%;
                justify-content: center;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-areas:
                    "a b"
                    "a c"
                ;

                .card-1 {
                    grid-area: a;
                    height: 30rem;

                    .stat-card {
                        width: 20rem;
                        left: auto;
                    }
                }

                .card-2 {
                    grid-area: b;
                }

                .card-3 {
                    grid-area: c;
                }
            }
        }
    }


    /* =======================================================
        LONG - TERM
    ======================================================= */


    .long-term {
        width: 100%;

        .container {
            width: 80vw;


            .content {
                height: 100%;
                flex-direction: row;
                align-items: stretch;

                .left {
                    width: 60%;
                    gap: 1rem;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        padding: 1.5rem 1rem;
                        border-radius: 1.2rem;
                        background: white;
                        border: 1px solid #e3e3e3;

                        .icon {

                            svg {
                                width: 4rem;
                                height: 4rem;
                            }
                        }

                        .text {
                            h3 {
                                margin-bottom: 0.3rem;
                                font-size: 1.3rem;
                                font-weight: 500;
                                color: #0f3d3e;
                            }

                            p {
                                font-size: 0.9rem;
                                font-weight: 300;
                                color: #555;
                                line-height: 1.5;
                            }
                        }
                    }
                }

                .right {
                    width: 40%;
                    height: auto;

                    img {
                        object-position: 90% 0%;
                    }


                }
            }
        }
    }


    /* =======================================================
        LEADER-SHIP
    ======================================================= */


    .leadership {

        .container {
            width: 80vw;
            flex-direction: row;
            gap: 2rem;

            .divider {
                display: block;
                width: 0.5px;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.344);
            }

            .image {
                width: 50%;
                height: 32rem;
            }

            .content {
                width: 50%;

                p {
                    text-align: justify;
                }
            }
        }
    }

    /* =======================================================
        OUR EXPERTS
    ======================================================= */

    .experts {
        .container {
            width: 80vw;

            .expert {
                position: relative;

                .expert-header {
                    display: grid;
                    grid-template-columns: 80px 220px 180px 1fr 60px;
                    align-items: center;

                    .desktop-image {
                        display: block;
                        width: 6rem;
                        height: 6rem;
                        border-radius: 50%;
                        overflow: hidden;
                        background: #CFE6EA;
                        background: linear-gradient(180deg, rgba(207, 230, 234, 0.35) 0%, rgba(207, 230, 234, 1) 100%);
                        transition: all 0.5s ease;

                        img {
                            width: 100%;
                            height: 100%;
                            object-position: 0% 20%;
                            object-fit: cover;
                        }
                    }



                    .desktop-qualifications {
                        display: block;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 1rem 0;

                            li {
                                position: relative;
                                padding-left: 1rem;
                                margin-bottom: 0.6rem;
                                font-weight: 500;

                                &::before {
                                    content: "";
                                    width: 6px;
                                    height: 6px;
                                    background: #19869A;
                                    border-radius: 50%;
                                    position: absolute;
                                    left: 0;
                                    top: 8px;
                                }
                            }
                        }
                    }
                }

                .expert-body {
                    display: flex;
                    justify-content: end;
                    gap: 5rem;
                    padding: 0 5rem;
                    margin-top: 2rem;


                    .expand-image {
                        position: absolute;
                        top: 2rem;
                        left: 15rem;
                        width: 15rem;
                        height: 15rem;
                        border-radius: 1rem;
                        overflow: hidden;
                        transition: all 0.5s ease;
                        opacity: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: 0% 10%;
                        }
                    }

                    .content {
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        padding: 0 2.5rem;
                    }

                    /* aligns paragraph under qualifications */
                }

                .mobile-qualifications {
                    display: none;
                }

                &.active {
                    .desktop-image {
                        opacity: 0;
                    }

                    .expand-image {
                        opacity: 1;
                    }
                }
            }






        }
    }

    /* =======================================================
        Consult
    ======================================================= */

    .consult-section {
        padding: 5rem 0;

        .container {
            width: 80vw;
            flex-direction: row;
            border-radius: 2rem;
            padding: 3rem 3rem;

            .left {

                .content {
                    p {
                        width: 25rem;
                    }
                }

                .image {
                    justify-content: start;
                }
            }
        }
    }



}